In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('Train_maskedv2.csv')
train.head()

,ward,total_households,total_individuals,target_pct_vunerable,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,lan_11,lan_12,lan_13,lan_14,pg_00,pg_01,pg_02,pg_03,pg_04,lgt_00
0,9D9BEUB,13569.97801,39024.03083,1.739801,0.354806,0.004781,0.170498,0.007861,0.006796,0.023082,...,0.001723,0.027796,0,0.026727,0.524666,0.041460,0.394550,0.029031,0.010292,0.599259
1,RERH3XM,13593.88256,32879.94646,1.993381,0.262140,0.002066,0.077669,0.000597,0.000977,0.003759,...,0.041982,0.021312,0,0.015754,0.993900,0.001829,0.000854,0.000586,0.002832,0.699136
2,GJWA3BO,2698.30050,8261.71093,0.038340,0.728101,0.002292,0.051663,0.008209,0.001444,0.005089,...,0.014786,0.005827,0,0.049384,0.990007,0.003582,0.002546,0.003201,0.000663,0.972315
3,GW6VRB7,1965.96698,9069.77694,7.411006,0.613206,0.138127,0.004999,0.002704,0.000000,0.002788,...,0.003087,0.003136,0,0.013562,0.928682,0.004464,0.009854,0.054701,0.002299,0.735333
4,CN9JZJC,1852.07821,9908.84404,8.223907,0.797462,0.120830,0.060677,0.001155,0.001042,0.000508,...,0.000117,0.001471,0,0.000000,0.994072,0.000476,0.004033,0.000704,0.000714,0.646964

In [3]:
test=pd.read_csv('Test_maskedv2.csv')
test.head()

,ward,total_households,total_individuals,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,lan_11,lan_12,lan_13,lan_14,pg_00,pg_01,pg_02,pg_03,pg_04,lgt_00
0,00A93O0,2514.04172,8037.06199,0.671962,0.061074,0.101516,0.006891,0.021287,0.015615,0.035974,...,0.000420,0.011485,0,0.063705,0.979272,0.009926,0.003224,0.002697,0.004882,0.521007
1,01V40KO,1829.71944,7494.86917,0.542857,0.390850,0.039623,0.000000,0.000000,0.000000,0.002633,...,0.000000,0.000160,0,0.000000,0.998938,0.000296,0.000301,0.000305,0.000160,0.693716
2,01ZHVW0,1721.99009,5847.43254,0.968071,0.003525,0.001431,0.000000,0.000000,0.000000,0.018546,...,0.000631,0.006504,0,0.000171,0.955895,0.012170,0.000000,0.030012,0.001923,0.933954
3,028YQJX,12388.02257,52211.66859,0.397274,0.004734,0.001068,0.000279,0.000799,0.197760,0.005227,...,0.000593,0.008330,0,0.000000,0.293629,0.694779,0.003238,0.000628,0.007726,0.921470
4,02G8W11,1754.25716,4266.57609,0.815197,0.016697,0.078571,0.008975,0.047882,0.015398,0.007264,...,0.000234,0.016846,0,0.178598,0.110861,0.054114,0.006062,0.823495,0.005470,0.996227

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3174 entries, 0 to 3173
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ward                  3174 non-null   object
 1   total_households      3174 non-null   float64
 2   total_individuals     3174 non-null   float64
 3   target_pct_vunerable  3174 non-null   float64
 4   dw_00                 3174 non-null   float64
 5   dw_01                 3174 non-null   float64
 6   dw_02                 3174 non-null   float64
 7   dw_03                 3174 non-null   float64
 8   dw_04                 3174 non-null   float64
 9   dw_05                 3174 non-null   float64
 10  dw_06                 3174 non-null   float64
 11  dw_07                 3174 non-null   float64
 12  dw_08                 3174 non-null   float64
 13  dw_09                 3174 non-null   float64
 14  dw_10                 3174 non-null   float64
 15  dw_11                 3174 non-null   float64
 16  dw_12                 3174 non-null   int64
 17  dw_13                 3174 non-null   int64
 18  psa_00                3174 non-null   float64
 19  psa_01                3174 non-null   float64
 20  psa_02                3174 non-null   float64
 21  psa_03                3174 non-null   float64
 22  psa_04                3174 non-null   float64
 23  stv_00                3174 non-null   float64
 24  stv_01                3174 non-null   float64
 25  car_00                3174 non-null   float64
 26  car_01                3174 non-null   float64
 27  lln_00                3174 non-null   float64
 28  lln_01                3174 non-null   float64
 29  lan_00                3174 non-null   float64
 30  lan_01                3174 non-null   float64
 31  lan_02                3174 non-null   float64
 32  lan_03                3174 non-null   float64
 33  lan_04                3174 non-null   float64
 34  lan_05                3174 non-null   float64
 35  lan_06                3174 non-null   float64
 36  lan_07                3174 non-null   float64
 37  lan_08                3174 non-null   float64
 38  lan_09                3174 non-null   float64
 39  lan_10                3174 non-null   float64
 40  lan_11                3174 non-null   float64
 41  lan_12                3174 non-null   float64
 42  lan_13                3174 non-null   int64
 43  lan_14                3174 non-null   float64
 44  pg_00                 3174 non-null   float64
 45  pg_01                 3174 non-null   float64
 46  pg_02                 3174 non-null   float64
 47  pg_03                 3174 non-null   float64
 48  pg_04                 3174 non-null   float64
 49  lgt_00                3174 non-null   float64
dtypes: float64(46), int64(3), object(1)
memory usage: 1.2+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ward               1102 non-null   object
 1   total_households   1102 non-null   float64
 2   total_individuals  1102 non-null   float64
 3   dw_00              1102 non-null   float64
 4   dw_01              1102 non-null   float64
 5   dw_02              1102 non-null   float64
 6   dw_03              1102 non-null   float64
 7   dw_04              1102 non-null   float64
 8   dw_05              1102 non-null   float64
 9   dw_06              1102 non-null   float64
 10  dw_07              1102 non-null   float64
 11  dw_08              1102 non-null   float64
 12  dw_09              1102 non-null   float64
 13  dw_10              1102 non-null   float64
 14  dw_11              1102 non-null   float64
 15  dw_12              1102 non-null   int64
 16  dw_13              1102 non-null   int64
 17  psa_00             1102 non-null   float64
 18  psa_01             1102 non-null   float64
 19  psa_02             1102 non-null   float64
 20  psa_03             1102 non-null   float64
 21  psa_04             1102 non-null   float64
 22  stv_00             1102 non-null   float64
 23  stv_01             1102 non-null   float64
 24  car_00             1102 non-null   float64
 25  car_01             1102 non-null   float64
 26  lln_00             1102 non-null   float64
 27  lln_01             1102 non-null   float64
 28  lan_00             1102 non-null   float64
 29  lan_01             1102 non-null   float64
 30  lan_02             1102 non-null   float64
 31  lan_03             1102 non-null   float64
 32  lan_04             1102 non-null   float64
 33  lan_05             1102 non-null   float64
 34  lan_06             1102 non-null   float64
 35  lan_07             1102 non-null   float64
 36  lan_08             1102 non-null   float64
 37  lan_09             1102 non-null   float64
 38  lan_10             1102 non-null   float64
 39  lan_11             1102 non-null   float64
 40  lan_12             1102 non-null   float64
 41  lan_13             1102 non-null   int64
 42  lan_14             1102 non-null   float64
 43  pg_00              1102 non-null   float64
 44  pg_01              1102 non-null   float64
 45  pg_02              1102 non-null   float64
 46  pg_03              1102 non-null   float64
 47  pg_04              1102 non-null   float64
 48  lgt_00             1102 non-null   float64
dtypes: float64(45), int64(3), object(1)
memory usage: 422.0+ KB

In [11]:
model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)

SyntaxError: unexpected EOF while parsing (<ipython-input-11-ad58269e94b0>, line 1)

In [ ]:
every_column_except_y= [col for col in train.columns if col not in ['target_pct_vunerable','ward']]
model.fit(train[every_column_except_y],train['target_pct_vunerable'])

OrderedDict(sorted(model.booster().get_fscore().items(), key=lambda t: t[1], reverse=True))

In [ ]:
#Let's remove the less important ones 
most_relevant_features= list( dict((k, v) for k, v in model.booster().get_fscore().items() if v >= 10).keys())
print(most_relevant_features)